<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhiraj.browser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.abhiraj.browser.MyApplicationNew"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.abhiraj.browser.MainActivity">

        </activity>
        <activity android:name="com.abhiraj.browser.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.abhiraj.browser.QrcodeActivity">
        </activity>
        <activity android:name="com.abhiraj.browser.file.FileActivity">

        </activity>
        <activity android:name="com.abhiraj.browser.file.PageAttributesActivity"/>
        <activity android:name="com.abhiraj.browser.FavAndHisActivity"/>
        <activity android:name="com.abhiraj.browser.custom.PaintActivity"/>

        <activity android:name="com.abhiraj.browser.DownloaderNew"/>
        <activity android:name="com.abhiraj.browser.Settings"/>
        <activity android:name="com.abhiraj.browser.SettingsDownload"/>
        <activity android:name="com.abhiraj.browser.SettingsChnagelanguage"/>
        <activity android:name="com.abhiraj.browser.SettingsAboutUs"/>
        <activity android:name="com.abhiraj.browser.SettingsNotification"/>
        <activity android:name="com.abhiraj.browser.SettingsBrowsing"/>
        <activity android:name="com.abhiraj.browser.SettingsClearRecord"/>
        <activity android:name="com.abhiraj.browser.SettingsAdBlocker"/>
        <activity android:name="com.abhiraj.browser.SettingsSearch"/>

        <activity android:name="com.abhiraj.browser.Feedback"/>
        <activity android:name="com.abhiraj.browser.Theme"/>

        <activity android:name="com.abhiraj.browser.Incognito"/>
        <activity android:name="com.abhiraj.browser.Incognitooff"/>
        <activity android:name="com.abhiraj.browser.NighhtModeOff"/>
        <activity android:name="com.abhiraj.browser.NightModeOn"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>